.allData {
    padding: 20px;
}

.allData__count {
    color: yellow;
    text-align: center;
    justify-content: center;
}

.allData__container {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 400px;
    max-width: 90%;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
}

.allData__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: lightcyan;
}

.allData__body {
    padding: 10px;
    border-radius: 5px;
}
